langchain
langchain_ollama
ollama
python-dotenv
selenium
pyautogui
requests
pandas
matplotlib
pytest
pyserial
SpeechRecognition
pyttsx3
pywinauto
psutil
pyaudio
BeautifulSoup
Flask
SpeechRecognition
langchain
pydantic
selenium
beautifulsoup4
dotenv
pandas
matplotlib
